In [1]:
# How do we handle missing values? Let's talk about it

# missing_values_count_by_column = (original_data.isnull().sum())
# print(missing_values_count_by_column[missing_values_count_by_column] > 0)

In [2]:
# Ways to Drop Data with Missing Values
# 1) Drop Columns with Missing Values
# data_without_missing_values = melbourne_data.dropna(axis=1)

# Drop the same datasets for both, training samples and test samples

# columns_with_missing_data = [column for column in melbourne_data.columns
#                            if melbourne_data[column].isnull().any()]

# reduced_training_data = melbourne_data.drop(columns_with_missing_data, axis=1)
# reduced_test_data = test_data.drop(columns_with_missing_data, axis=1)


# The problem with dropping columns with missing values:
    # 1) You lose useful info from columning dropping
    # 2) If test data has missing values where og data doesnt, you get errors
    
# THE ABOVE IS NOT ALWAYS THE BEST SOLUTION

In [3]:
# 2) Imputation: Fill in the missing values
    # Fill in the missing values with some number identifier
    
        # import imputer from sklearn
    
        # from sklearn.impute import SimpleImputer

        # my_imputer = SimpleImputer()

        # data_with_imputed_values = my_imputer.fit_transform(melbourne_data)

# This fills in missing values with the MEAN value of that column

In [4]:
# 3) An Extension to Imputation
    # Your model makes better predictions when you consider which values were originally missing after imputing
    
    # Copy original data when Imputing:
        # copy_of_original_data = original_data.copy()
        
    # Add columns to data and flag which rows are imputed:
        # cols_with_missing = (col for col in copy_of_original_data.columns 
        #                     if copy_of_original_data[col].isnull().any())
        
        # for col in cols_with_missing:
            # copy_of_original_data[col + '_was_missing'] = copy_of_original_data[col].isnull()

In [9]:
# Let's play around with real data

# Getting everything setup
import pandas as pd

# import data
dropout_df = pd.read_csv('../data-science-learning/datasets/withdrawl_data.cvs')

In [10]:
# Look at dataset
dropout_df.describe()

,Respondent,Total IM to know,Total IM to accomplish,Total IM to stimulate,IM Total,Total EM to identify,Total EM to introject,Total EM to regulate,EM Total,Amotivation,...,Math.1,M Lang cultures.1,music.1,nursing.1,physics.1,psych.1,religion phil.1,socio anthro.1,theatre dance.1,undec.1
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,...,90.000000,90.0,90.000000,90.000000,90.000000,90.000000,90.0,90.000000,90.000000,90.000000
mean,45.488889,20.777778,19.888889,11.811111,55.088889,23.011111,17.944444,23.544444,65.833333,5.577778,...,0.033333,0.0,0.011111,0.133333,0.011111,0.027778,0.0,0.005556,0.077778,0.055556
std,26.121258,4.916786,5.022297,5.038937,12.511248,4.540689,5.754063,5.123555,12.164832,3.108444,...,0.180511,0.0,0.105409,0.341839,0.105409,0.156527,0.0,0.052705,0.269322,0.230345
min,1.000000,0.000000,0.000000,0.000000,28.000000,0.000000,0.000000,0.000000,27.000000,4.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,23.250000,18.250000,18.000000,8.000000,46.250000,21.000000,15.000000,22.250000,61.000000,4.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,45.500000,21.000000,20.000000,11.000000,55.000000,24.000000,18.500000,25.000000,68.000000,4.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
75%,67.750000,24.750000,24.000000,15.000000,64.750000,26.000000,22.000000,27.000000,75.000000,5.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
max,90.000000,28.000000,28.000000,26.000000,83.000000,28.000000,28.000000,28.000000,84.000000,20.000000,...,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.0,0.500000,1.000000,1.000000

In [11]:
# Look at first few rows
dropout_df.head()

,Respondent,Took Survey,Total IM to know,Total IM to accomplish,Total IM to stimulate,IM Total,Total EM to identify,Total EM to introject,Total EM to regulate,EM Total,...,Math.1,M Lang cultures.1,music.1,nursing.1,physics.1,psych.1,religion phil.1,socio anthro.1,theatre dance.1,undec.1
0,1,Spring 12,26,9,9,44,22,21,26,69,...,1,0,0,0,0,0.0,0,0.0,0,0
1,2,Spring 12,21,21,13,55,27,20,27,74,...,0,0,0,1,0,0.0,0,0.0,0,0
2,3,Spring 12,22,18,8,48,25,19,26,70,...,0,0,0,0,0,0.0,0,0.0,0,0
3,4,Spring 12,22,18,11,51,26,26,23,75,...,0,0,0,0,0,0.0,0,0.0,0,0
4,5,Spring 12,19,16,8,43,23,21,22,66,...,0,0,0,0,0,0.0,0,0.0,0,0

In [18]:
# What are we trying to predict?
dropout_df.Withdrew

0     Yes
1      No
2     Yes
3     Yes
4     Yes
5      No
6      No
7     Yes
8      No
9      No
10     No
11     No
12    Yes
13    Yes
14     No
15    Yes
16    Yes
17    Yes
18     No
19     No
20     No
21    Yes
22    Yes
23    Yes
24    NaN
25    Yes
26    Yes
27    Yes
28     No
29     No
     ...
60     No
61     No
62     No
63    Yes
64    Yes
65     No
66     No
67     No
68     No
69     No
70     No
71     No
72     No
73     No
74    Yes
75     No
76    Yes
77    Yes
78     No
79     No
80     No
81     No
82     No
83    Yes
84    Yes
85     No
86    Yes
87    Yes
88     No
89    Yes
Name: Withdrew, Length: 90, dtype: object

In [19]:
# Let's manipulate this data so that "Yes" "No" can be binary, but first, lets copy the data

# Copy the data to manipulate
dropout_df_copy = dropout_df.copy()

In [108]:
# Now that we have a copy, lets go ahead and clean this up

# Convert columns with "yes/no" to "1,2"
dropout_df_copy.update(dropout_df_copy.Withdrew.replace('Yes', 1))
dropout_df_copy.update(dropout_df_copy.Withdrew.replace('No', 2))

# Check Data now
dropout_df_copy.update(dropout_df_copy.Withdrew)

In [109]:
# Good, now let's build our model

# What we're trying to predict
drop_out = dropout_df_copy.Withdrew
drop_out_predictors = dropout_df_copy.drop(['Withdrew'], axis=1)

# The factors that impact our predictor (numeric predictors)
predictors_for_drop_out = drop_out_predictors.select_dtypes(exclude=['object'])

In [110]:
# To prevent us from building our model and testing it with one dataset, lets split ours into various samples

# Import sklearn data split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Split our Data!
model_predictors_for_drop_out, test_predictors_for_drop_out, model_drop_out, test_drop_out = train_test_split(predictors_for_drop_out, drop_out, train_size=0.7, test_size=0.3, random_state=0)

In [111]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Now, let's do this: Let's score our data based on the different ways to handling missing values

# Scored Data from dropping columns with missing values

columns_with_missing_values = [col for col in model_predictors_for_drop_out.columns
                              if model_predictors_for_drop_out[col].isnull().any()]

reduced_model_predictors_for_drop_out = model_predictors_for_drop_out.drop(columns_with_missing_values, axis=1)
reduced_test_predictors_for_drop_out = test_predictors_for_drop_out.drop(columns_with_missing_values,axis=1)

# Now lets define a function to score our dataset
def score_dataset(X_train, X_test, y_train, y_test):
    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    return mean_absolute_error(y_test, preds)

In [141]:
test_drop_out.update(test_drop_out.fillna(1))

In [155]:
print('Mean Absolute Error from dropping columns with Missing Values:')
print(score_dataset(reduced_model_predictors_for_drop_out, reduced_test_predictors_for_drop_out, model_drop_out, test_drop_out.dropna()))

Mean Absolute Error from dropping columns with Missing Values:
0.37037037037037035

/Users/matthewquinn/.local/share/virtualenvs/data-science-learning-e1DZx5Tr/lib/python3.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [147]:
# Now that we've gotten our MAE with dropping columns. Let's give Imputation a try!

# Import Imputer from sklearn
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer()

# Impute the data!
imputed_model_predictors_for_drop_out = my_imputer.fit_transform(model_predictors_for_drop_out)
imputed_test_predictors_for_drop_out = my_imputer.transform(test_predictors_for_drop_out)

In [156]:
print('Mean Absolute Error from Imputation:')
print(score_dataset(imputed_model_predictors_for_drop_out, imputed_test_predictors_for_drop_out, model_drop_out, test_drop_out.dropna()))

Mean Absolute Error from Imputation:
0.28148148148148144

/Users/matthewquinn/.local/share/virtualenvs/data-science-learning-e1DZx5Tr/lib/python3.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [157]:
# Now lets impute our data but lets tag what was imputed
plus_model_predictors_for_drop_out = model_predictors_for_drop_out.copy()
plus_test_predictors_for_drop_out = test_predictors_for_drop_out.copy()

# Get missing columns
columns_with_missing_values = (col for col in model_predictors_for_drop_out.columns
                              if model_predictors_for_drop_out[col].isnull().any())

# Add new Column and flag missing values
for col in columns_with_missing_values:
    plus_model_predictors_for_drop_out[col + "_imputed"] = plus_model_predictors_for_drop_out[col].isnull()
    plus_test_predictors_for_drop_out[col + "_imputed"] = plus_test_predictors_for_drop_out[col].isnull()
    
# IMPUTE
my_imputer = SimpleImputer()

plus_imputed_model_predictors_for_drop_out = my_imputer.fit_transform(plus_model_predictors_for_drop_out)
plus_imputed_test_predictors_for_drop_out = my_imputer.transform(plus_test_predictors_for_drop_out)

In [159]:
# Now print these variables out to see what happens!

print('Mean Absolute Error from Imputation Flagging Imputed:')
print(score_dataset(plus_imputed_model_predictors_for_drop_out, plus_imputed_test_predictors_for_drop_out, model_drop_out, test_drop_out.dropna()))

Mean Absolute Error from Imputation Flagging Imputed:
0.1666666666666667

/Users/matthewquinn/.local/share/virtualenvs/data-science-learning-e1DZx5Tr/lib/python3.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)